/* ===================================
	0. Clear CSS
====================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline: none;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	scroll-behavior: smooth;
	text-wrap: pretty;
}
html{
	overflow-x: hidden;
}
body {
	line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}
nav ul,ul,ol {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	outline: none;
	vertical-align:baseline;
	background:transparent;
}
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}
mark {
	background-color:#ff9;
	color:#000; 
	font-style:italic;
	font-weight:bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
hr {
	display:block;
	height:1px;
	border:0;   
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}
input, select {
	vertical-align:middle;
}
input:focus, textarea:focus
{
	outline: none;
}

/* ===================================
	1. Global CSS
====================================== */
img{
	max-width: 400px;
}
:root {
	--white: #fff;
	--black: #000;
	--blue: #3b3b91;

	 /* Lighter shades */
	--blue-lightest: #e6e6f2;
	--blue-lighter: #c1c1d9;
	--blue-light: #9b9bc0;

	/* Darker shades */
	--blue-darker: #282875;
	--blue-darkest: #1b1b4d;
	--accent: #ffb900; /* Optional accent color */
	--blue-deep: #0a0a33;

	--bs-gutter-x: 1.5rem;
}

body {
	color: var(--black);
	line-height: 2;
	font-size: 15px;
	font-family: "Poppins";
	font-weight: 400;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background: linear-gradient(to right, var(--blue) -15%, var(--blue-lightest) 12%, var(--white) 60%);
	background-position: center;
}

.container{
/*	overflow: hidden;*/
	max-width: 1320px;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-right: auto;
	margin-left: auto;
}

main{
	max-width: 60%;
	width: 100%;
}
a{
	text-decoration: none;
	color: inherit;
	transition: .35s ease-out;
}
a:hover{
	color: var(--accent);
}
.active{
	color: var(--blue) !important;
}
.section{
/*	margin-top: 65px;*/
	padding-top: 85px;
}
.wrap{
	max-width: 670px;
}
h1{
	position: absolute;
	left: 0;
	z-index: 1;
	font-size: 140px;
	line-height: 143px;
	color: var(--blue);
	font-weight: 800;
	letter-spacing: -4px;
}
h2{
	font-weight: 500;
	font-size: 2em;
	line-height: 150%;
	letter-spacing: 5px;
	margin-bottom: 40px;
}
.section_description{
	max-width: 440px;
	font-size: 22px;
	line-height: 1.65;
	margin-bottom: 40px;
}
p {
	margin-bottom: 40px;
}
p a{
	color: var(--blue);
	font-weight: 700;
}
/* ===================================
	2. Header / Menu CSS
====================================== */
header{
	max-width: 20%;
	width: 100%;
	position: fixed;
	height: 100vh;
	right: 0;
	padding: 85px 100px 85px 200px;
}
.main_nav{
	position: relative;
	height: 100%;
}
.nav_page{
	line-height: 22px;
	font-weight: 700;
	margin-bottom: 80px;
}
.nav_page>span:first-of-type{
	color: var(--blue);
}
.step{
	padding: 0 12px;
}
.nav_name{
	margin-bottom: 51px;
}
.nav_name a{
	position: relative;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 4px;
	font-weight: 800;
}
.nav_name a::before {
	content: '';
	position: absolute;
	bottom: -3px;
	right: 5px;
	height: 2px;
	width: calc(100% - 5px);
	transition: .35s ease-out;
	background-color: var(--black);
}
.nav_name a:hover::before {
	width: 0;
	background-color: var(--blue);
}
.nav_social{
	display: flex;
	align-items: center;
	position: absolute;
/*	left: 200px;*/
	bottom: 165px;
}
.nav_social li{
	margin-right: 25px;
}

/* ===================================
	3. Sections
====================================== */
.home{
/*	height: 100vh;*/
	padding: 85px 0;
	margin: 0;
}
.home_wrap{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}
h1>span{
	background-image: linear-gradient(var(--accent), var(--accent));
	background-size: 100% 8px;
	background-repeat: no-repeat;
	background-position: 0 80%;
	transition: background-size .7s, background-position .5s ease-in-out;
}
h1>span:hover {
  background-size: 100% 80%;
  background-position: 0% 80%;
  transition: background-position .7s, background-size .5s ease-in-out;
}
.home_wrap img{
	position: relative;
	min-width: 444px;
	min-height: calc(100vh - 170px);
	object-fit: cover;
	margin-right: -100px;
}

.services_cv{
	background-color: var(--blue-darkest);
	display: flex;
	align-items: center;
	padding: 50px 70px;
	margin-top: 110px;
	width: 900px;
}
.services_cv_mobile{
	display: none;
}
.services_cv li:first-of-type{
	margin-right: 100px;
}
.services_cv a{
	color: var(--white);
	font-weight: 700;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 5px;
	position: relative;
	display: inline-block;
}
.services_cv a::before {
	content: '';
	position: absolute;
	bottom: 5px;
	right: 0;
	height: 2px;
	width: 100%;
	transition: .35s ease-out;
	background-color: var(--white);
}
.services_cv a:hover{
	color: var(--accent);
}
.services_cv a:hover::before {
	width: 0;
	background-color: var(--accent);
}
.services_grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20%;
	grid-row-gap: 80px;
}
.services_grid_item{
	max-width: 270px;
}
.services_grid_item img{
	width: 100%;
	width: -moz-available;  
	width: -webkit-fill-available;
	width: stretch;
}
.services_grid_item h4{
	font-weight: 500;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: 0.27em;
	margin-top: 30px;
	transition: .35s ease-out;
}
.services_grid_item:hover h4 {
	transform: translateX(-10px);
}
.services_grid_item p{
	margin-top: 23px;
	max-width: 250px;
	margin-bottom: 0;
}

.section_content{
	max-width: 800px;
	width: fit-content;
}
.section_content_slide{
	max-width: 900px;	
	width: 900px;
	height: 336px;
}
.section_content_image_mobile{
	display: none;
}
.about_contacts{
	background-color: var(--blue-darkest);
	color: var(--white);
	max-width: 330px;
	padding: 6px 30px 50px 70px;
	float: right;
	margin: 0 0 40px 65px;
}
.about_contacts li{
	margin-top: 44px;
}
.about_contacts h6 {
	font-size: 12px;
	letter-spacing: 5px;
	font-weight: 400;
}
.about_contacts a{
	color: var(--white);
	display: inline-block;
	font-weight: 400;
}
.about_contacts a:hover{
	color: var(--accent);
}
.about_text{
	margin-top: 43px;
}
.about_signature{
	margin-top: -20px;
}
.about_signature img{
	max-width: 260px;
}

.portfolio_grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"Image-1 Image-1"
		"Image2 Image-3"
		"Image2 Image-4"
		"Image-5 Image-5";
	
	max-width: 900px;
	margin: auto;
	width: 65vw;
	max-height: 1800px;
	height: 100%;
}
.portfolio_grid_block {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.portfolio_grid_block::before {
	content: '';
	display: block;
	padding-top: 100%;
}
.portfolio_grid_caption{
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: var(--blue-deep);
	color: white;
	transition: left 0.5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
}
.portfolio_grid_block:hover .portfolio_grid_caption {
  left: 0;
}
.portfolio_grid_caption p{
	font-size: 15px;
	line-height: 100%;
	font-weight: 500;
	color: rgb(255, 255, 255);
	margin-bottom: 0px;
	padding-bottom: 10px;
}
.portfolio_title{
	font-size: 28px !important;
	font-weight: 800 !important;
}
.portfolio_grid_img{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.portfolio_grid_img img{
	max-width: 900px;
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.portfolio_grid_block:nth-child(2) img,
.portfolio_grid_block:nth-child(3) img,
.portfolio_grid_block:nth-child(4) img {
	max-width: 450px;
}
.portfolio_grid_block:nth-child(1),
.portfolio_grid_block:nth-child(5) {
	max-height: 450px;
}
.portfolio_grid .portfolio_grid_block:nth-child(2)::before {
	padding-top: 200%;
}
.portfolio_grid_block:nth-child(1) { grid-area: Image-1; }
.portfolio_grid_block:nth-child(2) { grid-area: Image2; }
.portfolio_grid_block:nth-child(3) { grid-area: Image-3; }
.portfolio_grid_block:nth-child(4) { grid-area: Image-4; }
.portfolio_grid_block:nth-child(5) { grid-area: Image-5; }

.blog_content ul{
	padding-right: 40px;
	width: 100%;
}
.blog_content li:not(:first-child){
	border-top: 2px solid var(--white);
}
.blog_element{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}
.blog_title{
	font-size: 26px;
	margin-right: 30px;
	color: var(--black);
	font-weight: 700;
	max-width: 75%;
	width: 100%;
}
.blog_title:hover{
	color: var(--accent);
}
.blog_info{
	display: flex;
	flex-direction: column;
	font-weight: 700;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 3px;
	min-width: 100px;
}
.blog_info span:last-child{
	color: var(--accent);
	text-transform: uppercase;
}

.contact{
	margin-bottom: 65px;
}
.skills_group{
	margin: auto;
	width: 45vw;
	background-color: var(--blue);
	color: var(--white);
	margin-top: 41px;
	padding: 4.375vw 4.167vw 4.306vw 6.528vw;
	margin-right: -100px;
}
.skills_group li{
	display: flex;
	align-items: center;
	position: relative;
}
.skills_group li:before {
	content: '';
	position: absolute;
	left: 28%;
	top: 0;
	background-color: var(--white);
	width: 3px;
	height: 100%;
}
.skills_date{
	max-width: 28%;
	width: 100%;
	font-weight: 200;
	font-size: 60px;
	line-height: 30px;
	transition: .35s ease-out;
}
.skills_group li:hover .skills_date{
	transform: translateX(15px);
	color: var(--accent);   
}
.skills_text{
	max-width: 72%;
	width: 100%;
	padding: 0 50px 0 80px;
	transition: .35s ease-out;
	margin-bottom: 0;
}
.skills_group li:hover .skills_text{
	transform: translateX(-15px); 
}
.skills_group li:not(:first-child){
	padding-top: 37px;
}
.skills_progress{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-right: 40px;
	padding-top: 69px;
}
.skills_progress li{
	display: flex;
	align-items: center;
	width: calc(50% - 35px);
	margin-bottom: 22px;
}
.skills_name{
	font-size: 12px;
	line-height: 28px;
	letter-spacing: 3.5px;
	width: 37%;
	padding-right: 30px;
	text-transform: uppercase;
}
.skill_fill{
	width: 100%;
	height: 10px;
	background-color: var(--blue-lighter);
	width: 63%;
}
.skill_fill_progress{
	height: 10px;
	background-color: var(--blue-darker);
	transition: width .7s;
}
form input, form textarea {
	margin-top: 0;
	padding-top: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 3px;
	color: #000;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid;
	padding-top: 13px;
	padding-bottom: 0px;
	padding-left: 0;
	margin: 10px 0;
	height: 28px;
	width: 100%;
	box-sizing: initial;
}
form textarea {
	height: 150px;
}
form input[type=submit] {
	display: inline-block;
	border: 2px solid;
	text-align: center;
	padding: 20px 0px;
	font-size: 14px;
	cursor: pointer;
	vertical-align: middle;
	text-decoration: none;
	background-color: transparent;
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	width: 100%;
	letter-spacing: 8px;
	transition: opacity .3s ease;
	cursor: pointer;
}

/* ===================================
	4. Tablets
====================================== */
@media (max-width: 1199px){
	.header_opener{
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		padding: 14px 10px;
		transition: .15s ease;
		cursor: pointer;
		z-index: 10;
		background-color: #fff;
	}
	.header_opener_cover{
		position: relative;
		height: 20px;
		width: 30px;
		display: block;
	}
	.header_opener_cover::after, .header_opener_cover::before{
		content: '';
		height: 3px;
		width: 30px;
		position: absolute;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transition: -webkit-transform 0.25s;
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
		top: 8px;
		background-color: #000;
	}
	.header_opener_cover::before{
		transform: translate3d(0, -8px, 0px);
		width: 21px;
		margin-left: 0;
	}
	.header_opener_cover span{
		width: 13px;
		height: 3px;
		position: absolute;
		transition: all 0.25s;
		margin-left: 0;
		top: 8px;
		background-color: #000;
	}
	.header_opener_cover::after{
		transform: translate3d(0, 8px, 0);
	}
	.header_opener.opened .header_opener_cover::before{
		transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
		margin-left: 0;
		width: 26px;
	}
	.header_opener.opened .header_opener_cover span{
		opacity: 0;
	}
	.header_opener.opened .header_opener_cover::after{
		transform: rotate3d(0, 0, 1, -45deg);
		width: 26px;
	}
	header.opened{
		transition: .25s ease-out;
		box-shadow: 0 0 4px rgba(255, 240, 240, 0.5);
		left: 0;
		pointer-events: auto;
	}
	header{
		right: auto;
		left: -100%;
		pointer-events: none;
		background-color: #fff;
		max-width: 300px;
		width: 100%;
		z-index: 9;
		padding: 80px 30px 60px;
		overflow: auto;
		height: 100%;
		transition: .25s ease-in;
	}

	main{
		max-width: 90vw;
		margin: 0 auto;
	}
	.wrap{
		max-width: 100%;
	}
	.section_content{
		max-width: 100%;
		width: auto;
	}

	.portfolio_grid_img img{
		max-width: 1200px;
	}
	.portfolio_grid_block:nth-child(2) img, .portfolio_grid_block:nth-child(3) img, .portfolio_grid_block:nth-child(4) img {
		max-width: 1200px;
	}
	.portfolio_grid{
		max-width: 100%;
		width: 100%;
	}
	.blog_info{
		font-size: 14px;
	}
	.skills_group{
		width: auto;
		margin-right: auto;
	}
}

/* ===================================
	5. Phones
====================================== */
@media (max-width: 750px){
	.section{
		padding-top: 65px;
	}
	h1{
		font-size: 4rem;
		-webkit-text-stroke: 1px var(--blue-light);
		top: 300px;
		line-height: 70px;
	}
	h1>span {
		background-size: 100% 3px;
	}
	header.opened{
		max-width: 900px;
	}
	.home{
		padding: 0;
	}
	.services_cv{
		display: none;
		max-width: 100%;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-top: 50px
	}
	.services_cv_mobile{
		display: flex;
		justify-content: space-around;
	}
	.services_cv li:first-of-type {
		margin-right: 0; 
	}
	.services_grid{
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
		grid-row-gap: 40px;
	}
	.services_grid_item{
		max-width: 1000px;
		width: 100%;
	}
	.section_content_slide{
		display: none;
	}
	.section_content_image_mobile{
		display: block;
		width: -webkit-fill-available;
		width: 100%;
	}
	.about_contacts{
		float: none;
		margin-left: 0;
		transform: translateY(0);
	}
	.about_signature img {
		max-width: 200px;
	}
	.portfolio_grid_block:nth-child(1), .portfolio_grid_block:nth-child(5) {
		max-height: 200px;
	}
	.blog_element>a {
		font-size: 20px;
		max-width: 65%;
	}
	.skills_group {
		padding: 10vw 4.167vw 4.306vw 6.528vw;
	}
	.skills_group li {
		display: flex;
		align-items: flex-start; 
		flex-direction: column;
	}
	.skills_group li:before {
		content: none;
	}
	.skills_text {
		padding: 30px 0 0 0;
		max-width: none;
	}
	.skills_progress{
		padding-right: 0;
		padding-top: 30px;
	}
	.skills_progress li {
		width: calc(50% - 7px);
	}
	.skills_group li:hover .skills_text {
		transform: translateX(0);
	}
}

/* ===================================
	♾. Import Poppins font family
====================================== */
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}