{% extends "index.html" %}
{% load static %}

{% block title %}
	<title>Blog</title>
{% endblock %}
{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog.css' %}">
{% endblock %}
{% block meta %}
<meta name="description" content="{{blog.meta}}">
<meta name="keywords" content="{{blog.keywords}}">
{% endblock %}

{% block main %}
<section class="section blog" id="blog">
	<div class="wrap about_wrap">
		<div class="blog_content section_content">
			<h2 class="blog_title">{{ blog.title }}</h2>
			<div class="blog_info">
				{% if blog.tags.exists %}
	                {% for tag in blog.tags.all %}
	                    <span>{{ tag.title }}</span>
	                {% endfor %}
	            {% endif %}
	            <span style="display: flex;">
	            	<svg xmlns="http://www.w3.org/2000/svg" fill="none" height="17px" style="margin-right: 3px;" viewBox="0 0 24 24">
						<circle cx="12" cy="12" r="3.5" stroke="var(--black)"/>
						<path stroke="var(--black)" d="M21 12s-1-8-9-8-9 8-9 8"/>
					</svg>
					<t> {{ blog.views }}</t>
	            </span>
				<span>{{ blog.date }}</span><span>{{ blog.category }}</span></div>
			<div class="blog_blog">
				{{ blog.content|safe }}
			</div>
		</div>
	</div>
</section>
<!-- <ul class="footer nav_social">
	<li><a href="#social">LK.</a></li>
	<li><a href="#social">IN.</a></li>
	<li><a href="#social">TG.</a></li>
</ul> -->
{% endblock %}

{% block scripts %}
<script>
	document.addEventListener("DOMContentLoaded", function() {
		const headerOpener = document.getElementById("header_opener");
		const header = document.getElementById("header");
		const clickableElements = document.querySelectorAll("nav a, .nav_name a");

		headerOpener.addEventListener("click", function() {
			toggleHeader();
		});

		Array.from(clickableElements).forEach(element => {
			element.addEventListener("click", function() {
				if(window.innerWidth <= 750) {
					closeHeader();
				}
			});
		});

		function toggleHeader() {
			headerOpener.classList.toggle("opened");
			header.classList.toggle("opened");
		}
		function closeHeader() {
			headerOpener.classList.remove("opened");
			header.classList.remove("opened");
		}
	});
</script>
<script>
	const navLinks = document.querySelectorAll('nav a');
	const sections = document.querySelectorAll('section');

	function changeLinkState() {
		let index = sections.length;

		while(--index && window.scrollY + 50 < sections[index].offsetTop) {}

			navLinks.forEach((link) => link.classList.remove('active'));
		navLinks[index].classList.add('active');
	}

	changeLinkState();
	window.addEventListener('scroll', changeLinkState);
</script>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		const sections = document.querySelectorAll('section');
		const navLinks = document.querySelectorAll('nav a');
		const navPageNumber = document.querySelector('.nav_page > span:first-child');

		function changeLinkState() {
			let index = sections.length;

			while (--index && window.scrollY + 50 < sections[index].offsetTop) {}
			navLinks.forEach((link) => link.classList.remove('active'));
			navLinks[index].classList.add('active');
			navPageNumber.textContent = String(index + 1).padStart(2, '0');
		}

		changeLinkState();
		window.addEventListener('scroll', changeLinkState);
	});
</script>
{% endblock %}