{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}
	<title>Mine</title>
	{% endblock %}
	{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">
	{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{main.icon.url}}">
</head>
<body>
	<div class="container">
		
		{% block header %}
		<div id="header_opener" class="header_opener">
			<span class="header_opener_cover">
				<span></span>                   
			</span>
		</div>
		<header id="header">
			<div class="main_nav">
				<div class="nav_page">
					<span>01</span><span class="step">/</span><span>07</span>
				</div>
				<div class="nav_name"><a href="{% url 'home:home' %}">Yulian Tolkachov</a></div>
				<nav>
					<ul>
						<li><a href="{% url 'home:home' %}">Home</a></li>

						{% for section in sections_list %}
						<li><a href="{% url 'home:home' %}#{{section.slug}}">{{section.title}}</a></li>
						{% endfor %}

					</ul>
				</nav>

				<ul class="nav_social">
					{% for social in socials_list %}
					<li><a href="{{social.url}}" target="_blank">{{social.icon}}</a></li>
					{% endfor %}
				</ul>

			</div>
		</header>
		{% endblock %}
		<main>
			{% block main %}
			<section class="section home" id="home">
				<div class="wrap home_wrap">
					<h1>Hello, <br>I'm <span>Yulian Tolkachov</span></h1>
					<picture alt="{{ main.alt_text }}">
						<source srcset="{{ main.photo.url }}" media="(min-width:800px)">
						<img src="{{ main.photo_minified.url }}" {% if not forloop.first %} loading="lazy" {% endif %} alt="{{ main.alt_text }}">
					</picture>
					<a class="home_link">	
						<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.71178 17.2976L24.7944 35.5602L41.877 17.2976" stroke="#F44647" stroke-width="8"/>
						</svg>
					</a>
				</div>
			</section>

			<section class="section services" id="{{ sections.services.slug }}">
				<div class="wrap services_wrap">
					<div class="services_content section_content">
						<h2>{{ sections.services.title }}</h2>
						<div class="section_description">
							{{ sections.services.subtitle }}
						</div>
						<div class="section_content">
							{{ sections.services.text|safe }}
						</div>
					</div>
					<ul class="services_cv section_content_slide-right parallax left">
						<li><a href="{{main.cv.url}}" download>Download CV</a></li>
						<li><a href="{{main.portfolio.url}}" download>My Portfolio</a></li>
					</ul>
					<ul class="services_cv services_cv_mobile">
						<li><a href="{{main.cv.url}}" download>Download CV</a></li>
						<li><a href="{{main.portfolio.url}}" download>My Portfolio</a></li>
					</ul>

					<div class="services_grid">
						{% for service in services_list %}
						<div class="services_grid_item">
							<picture alt="{{ service.alt_text }}">
								<source srcset="{{ service.photo.url }}" media="(min-width:800px)">
								<img src="{{ service.photo_minified.url }}" {% if not forloop.first %} loading="lazy" {% endif %} alt="{{ service.alt_text }}">
							</picture>
							<h4>{{service.title}}</h4>
							<p>{{service.subtitle}}</p>
						</div>
						{% endfor %}
					</div>

				</div>
			</section>

			<section class="section about" id="{{ sections.about.slug }}">
				<div class="wrap about_wrap">
					<h2>{{ sections.about.title }}</h2>
					<div class="section_description">
						{{ sections.about.subtitle }}
					</div>
					<div class="section_content">
						<picture alt="{{ main.alt_banner_text }}">
							<source srcset="{{ main.banner.url }}" media="(min-width:800px)">
							<img class="section_content_slide parallax_right right" src="{{ main.banner_minified.url }}" {% if not forloop.first %} loading="lazy" {% endif %} alt="{{ main.alt_banner_text }}">
						</picture>
						<picture alt="{{ main.alt_banner_text }}">
							<source srcset="{{ main.banner.url }}" media="(min-width:800px)">
							<img class="section_content_image_mobile" src="{{ main.banner_minified.url }}" {% if not forloop.first %} loading="lazy" {% endif %} alt="{{ main.alt_banner_text }}">
						</picture>
						<div class="about_contacts parallax_top">
							<ul>
								<li>
									<h6>Email</h6>
									<a href="mailto:{{main.email}}">{{main.email}}</a>
								</li>
								<li>
									<h6>Role</h6>
									<a href="#{{ sections.contact.slug }}">{{main.role}}</a>
								</li>
								<li>
									<h6>Phone</h6>
									<a href="tel:{{main.phone}}">{{main.phone}}</a>
								</li>
							</ul>
						</div>
						<div class="about_text">
							{{ sections.about.text|safe }}
							<div class="about_signature">
								<img src="{{main.signature.url}}" alt="My signature">
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section portfolio" id="{{ sections.portfolio.slug }}">
				<div class="wrap about_wrap">
					<div class="portfolio_content section_content">
						<h2>{{ sections.portfolio.title }}</h2>
						<div class="section_description">
							{{ sections.portfolio.subtitle }}
						</div>
						<div class="portfolio_grid">

							{% for work in works %}
							<div class="portfolio_grid_block">
								<a href="{{ work.get_absolute_url }}" class="portfolio_grid_caption">
									<p class="portfolio_title">{{ work.title }}</p>
									<p>{{ work.subtitle }}</p>
								</a>
								<div class="portfolio_grid_img">
									<picture alt="{{ work.alt_text }}">
										<source srcset="{{ work.photo.url }}" media="(min-width:800px)">
										<img src="{{ work.photo_minified.url }}" {% if not forloop.first %} loading="lazy" {% endif %} alt="{{ work.alt_text }}">
									</picture>
								</div>
							</div>
							{% endfor %}

						</div>

					</div>
				</div>
			</section>

			<section class="section blog" id="{{ sections.blog.slug }}">
				<div class="wrap about_wrap">
					<div class="blog_content section_content">
						<h2>{{ sections.blog.title }}</h2>
						<div class="section_description">
							{{ sections.blog.subtitle }}
						</div>
						<ul>
							<li class="blog_element">
								<a href="blog" class="blog_title">Testing link 1</a>
								<div class="blog_info"><span>Mar 13, 2024</span><span>category</span></div>
							</li>
							<li class="blog_element">
								<a href="blog" class="blog_title">Encyclopaedia galactica shores of cosmic</a>
								<div class="blog_info"><span>Mar 13, 2024</span><span>category</span></div>
							</li>
							<li class="blog_element">
								<a href="blog" class="blog_title">Testing link 1</a>
								<div class="blog_info"><span>Mar 13, 2024</span><span>category</span></div>
							</li>
							<li class="blog_element">
								<a href="blog" class="blog_title">Testing link 1</a>
								<div class="blog_info"><span>Mar 13, 2024</span><span>category</span></div>
							</li>
							<li class="blog_element">
								<a href="blog" class="blog_title">Encyclopaedia galactica shores of cosmic</a>
								<div class="blog_info"><span>Mar 13, 2024</span><span>category</span></div>
							</li>
						</ul>

					</div>
				</div>
			</section>

			<section class="section skills" id="{{ sections.skills.slug }}">
				<div class="wrap about_wrap">
					<div class="skills_content section_content">
						<h2>{{ sections.skills.title }}</h2>
						<div class="section_description">
							{{ sections.skills.subtitle }}
						</div>
						{{ sections.skills.text|safe }}

						<ul class="skills_group">
							{% for year in years_list %}
							<li>
								<span class="skills_date">{{year.year}}</span>
								<p class="skills_text">{{year.content|safe}}</p>
							</li>
							{% endfor %}
						</ul>

						<ul class="skills_progress">
							{% for skill in skills_list %}
							<li>
								<span class="skills_name">{{skill.title}}</span>
								<div class="skill_fill">
									<div class="skill_fill_progress" data-fill="{{skill.percentage}}%" style="width: {{skill.percentage}}%;"></div>
								</div>
							</li>
							{% endfor %}
						</ul>

					</div>
				</div>
			</section>

			<section class="section contact" id="{{ sections.contact.slug }}">
				<div class="wrap about_wrap">
					<div class="contact_content section_content">
						<h2>{{ sections.contact.title }}</h2>
						<div class="section_description">
							{{ sections.contact.subtitle }}
						</div>
						{{ sections.contact.text|safe }}
						<form action="POST">
							<input id="name" type="text" name="name" placeholder="NAME">
							<input id="contact-email" type="email" name="email" placeholder="EMAIL">
							<input id="subject" type="text" name="subject" placeholder="SUBJECT">
							<textarea id="message" name="message" placeholder="MESSAGE"></textarea>
							<input type="submit" value="SEND">
						</form>

					</div>
				</div>
			</section>
			{% endblock %}
		</main>
	</div>

{% block scripts %}
<script>
	document.addEventListener("DOMContentLoaded", function() {
		const headerOpener = document.getElementById("header_opener");
		const header = document.getElementById("header");
		const clickableElements = document.querySelectorAll("nav a, .nav_name a");

		headerOpener.addEventListener("click", function() {
			toggleHeader();
		});

		Array.from(clickableElements).forEach(element => {
			element.addEventListener("click", function() {
				if(window.innerWidth <= 750) {
					closeHeader();
				}
			});
		});

		function toggleHeader() {
			headerOpener.classList.toggle("opened");
			header.classList.toggle("opened");
		}
		function closeHeader() {
			headerOpener.classList.remove("opened");
			header.classList.remove("opened");
		}
	});
</script>
<script>
	const parallax = document.querySelectorAll(".parallax");
	const speed = 0.2;
	const offset = 1000;
	window.addEventListener("scroll", function() {
		const y = window.pageYOffset;
		parallax.forEach(function(el) {
			const limit = el.classList.contains("left") ? offset : window.innerHeight - offset;
			if (y > el.offsetTop - window.innerHeight && y < el.offsetTop + el.offsetHeight) {
				const targetX = (y - el.offsetTop + limit) * speed;
				const diffX = targetX - el.offsetLeft;
				el.style.transform = `translateY(-50%) translateX(${Math.min(Math.max(diffX, -400), 400)}px)`;
			}
		});
	});

	const parallax_right = document.querySelectorAll(".parallax_right");
	const speed_right = 0.2;
	const offset_right = -300;
	window.addEventListener("scroll", function() {
		const y = window.pageYOffset;
		parallax_right.forEach(function(el) {
			const limit = el.classList.contains("left") ? offset_right : window.innerHeight - offset_right;
			if (y > el.offsetTop - window.innerHeight && y < el.offsetTop + el.offsetHeight) {
				const targetX = (y - el.offsetTop + limit) * speed_right;
				const diffX = targetX - el.offsetLeft;
				el.style.transform = `translateX(${Math.min(-Math.max(diffX, -400), 400)}px)`;
			}
		});
	});

	const parallax_top = document.querySelectorAll(".parallax_top");
	const speed_top = 0.2;
	const offset_top = -2900;
	window.addEventListener("scroll", function() {
		const y = window.pageYOffset;
		parallax_top.forEach(function(el) {
			const limit = el.classList.contains("left") ? offset_top : window.innerHeight - offset_top;
			if (y > el.offsetTop - window.innerHeight && y < el.offsetTop + el.offsetHeight) {
				const targetX = (y - el.offsetTop + limit) * speed_top;
				const diffX = targetX - el.offsetLeft;
				el.style.transform = `translateY(${Math.min(Math.max(diffX, -400), -10)}px)`;
			}
		});
	});
</script>
<script>
	const navLinks = document.querySelectorAll('nav a');
	const sections = document.querySelectorAll('section');

	function changeLinkState() {
		let index = sections.length;

		while(--index && window.scrollY + 50 < sections[index].offsetTop) {}

			navLinks.forEach((link) => link.classList.remove('active'));
		navLinks[index].classList.add('active');
	}

	changeLinkState();
	window.addEventListener('scroll', changeLinkState);

</script>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		const sections = document.querySelectorAll('section');
		const navLinks = document.querySelectorAll('nav a');
		const navPageNumber = document.querySelector('.nav_page > span:first-child');

		function changeLinkState() {
			let index = sections.length;

			while (--index && window.scrollY + 50 < sections[index].offsetTop) {}
			navLinks.forEach((link) => link.classList.remove('active'));
			navLinks[index].classList.add('active');
			navPageNumber.textContent = String(index + 1).padStart(2, '0');
		}

		changeLinkState();
		window.addEventListener('scroll', changeLinkState);
	});
</script>
{% endblock %}

</body>
</html>