{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}
	<title>Mine</title>
	{% endblock %}
	{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">
	{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{main.icon.url}}">
</head>
<body>
	<div class="container">
		
		{% block header %}
		<div id="header_opener" class="header_opener">
			<span class="header_opener_cover">
				<span></span>                   
			</span>
		</div>
		<header id="header">
			<div class="main_nav">
				<div class="nav_page">
					<span>01</span><span class="step">/</span><span>07</span>
					<button id="theme_switch">
						<svg width="25" height="25" version="1.1" viewBox="0 0 256 256" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
							<g transform="translate(1.4066 1.4066) scale(2.81)">
								<path d="m45 63.785c-10.358 0-18.786-8.427-18.786-18.785s8.428-18.786 18.786-18.786 18.785 8.428 18.785 18.786-8.427 18.785-18.785 18.785zm0-33.571c-8.153 0-14.786 6.633-14.786 14.786 0 8.152 6.633 14.785 14.786 14.785 8.152 0 14.785-6.633 14.785-14.785 0-8.153-6.633-14.786-14.785-14.786z" stroke-linecap="round"/>
								<rect x="43" width="4" height="22.34" rx="0" ry="0"/>
								<rect x="43" y="67.66" width="4" height="22.34" rx="0" ry="0"/>
								<rect y="43" width="22.34" height="4" rx="0" ry="0"/>
								<rect x="67.66" y="43" width="22.34" height="4" rx="0" ry="0"/>
								<rect transform="matrix(.7071 -.7071 .7071 .7071 5.2803 54.908)" x="57.75" y="19.08" width="22.34" height="4" rx="0" ry="0"/>
								<rect transform="matrix(.7071 -.7071 .7071 .7071 -42.56 35.092)" x="9.91" y="66.92" width="22.34" height="4" rx="0" ry="0"/>
								<rect transform="matrix(.7071 -.7071 .7071 .7071 -8.7317 21.08)" x="19.08" y="9.91" width="4" height="22.34" rx="0" ry="0"/>
								<rect transform="matrix(.7071 -.7071 .7071 .7071 -28.548 68.92)" x="66.92" y="57.75" width="4" height="22.34" rx="0" ry="0"/>
								<rect transform="matrix(.9238 -.3828 .3828 .9238 -8.1974 29.036)" x="65.69" y="33.12" width="6.34" height="4" rx="0" ry="0"/>
								<rect transform="matrix(.9238 -.3828 .3828 .9238 -19.4 12.272)" x="17.97" y="52.88" width="6.34" height="4" rx="0" ry="0"/>
								<rect transform="matrix(.9239 -.3827 .3827 .9239 -5.4162 15.048)" x="33.12" y="17.97" width="4" height="6.34" rx="0" ry="0"/>
								<rect transform="matrix(.9239 -.3827 .3827 .9239 -22.174 26.244)" x="52.88" y="65.69" width="4" height="6.34" rx="0" ry="0"/>
								<rect transform="matrix(.3827 -.9239 .9239 .3827 -19.394 41.206)" x="19.14" y="31.94" width="4" height="6.34" rx="0" ry="0"/>
								<rect transform="matrix(.3827 -.9239 .9239 .3827 -8.1955 97.502)" x="66.86" y="51.71" width="4" height="6.34" rx="0" ry="0"/>
								<rect transform="matrix(.3828 -.9238 .9238 .3828 14.346 63.749)" x="51.71" y="19.14" width="6.34" height="4" rx="0" ry="0"/>
								<rect transform="matrix(.3828 -.9238 .9238 .3828 -41.944 74.942)" x="31.94" y="66.86" width="6.34" height="4" rx="0" ry="0"/>
							</g>
						</svg>

						<svg width="25" height="25" version="1.1" viewBox="0 0 256 256" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
							<g transform="translate(1.4066 1.4066) scale(2.81)" stroke-linecap="round">
								<path d="m89.634 59.683c-0.338-0.276-0.816-0.302-1.184-0.062-16.514 10.864-38.661 8.589-52.661-5.41-13.999-13.999-16.274-36.146-5.409-52.66 0.24-0.366 0.215-0.845-0.062-1.183-0.277-0.339-0.741-0.46-1.148-0.294-5.826 2.349-11.048 5.809-15.523 10.283-18.195 18.195-18.195 47.802 0 65.997 9.097 9.097 21.048 13.646 32.998 13.646 11.951 0 23.901-4.549 32.999-13.646 4.475-4.476 7.935-9.699 10.284-15.523 0.163-0.406 0.044-0.871-0.294-1.148z"/>
								<path d="m77.254 40.17c-4.894-1.63-8.788-5.525-10.42-10.419-0.27-0.81-0.992-1.334-1.841-1.334-0.848 0-1.571 0.524-1.84 1.335-1.631 4.893-5.526 8.787-10.419 10.418-0.811 0.27-1.334 0.993-1.334 1.841s0.524 1.571 1.334 1.841c4.894 1.631 8.788 5.525 10.418 10.419h1e-3c0.27 0.811 0.992 1.334 1.84 1.334 0.849 0 1.572-0.524 1.841-1.334 1.631-4.893 5.526-8.788 10.419-10.419 0.812-0.27 1.335-0.992 1.335-1.841s-0.524-1.572-1.334-1.841z"/>
								<path d="m81.635 11.577c-2.597-0.865-4.664-2.932-5.53-5.529-0.208-0.626-0.789-1.046-1.446-1.046s-1.239 0.421-1.448 1.047c-0.864 2.596-2.93 4.663-5.527 5.528-0.626 0.208-1.047 0.789-1.047 1.446s0.421 1.238 1.046 1.446c2.596 0.865 4.663 2.932 5.529 5.529 0.208 0.625 0.788 1.046 1.445 1.047h2e-3c0.656 0 1.238-0.421 1.446-1.046 0.866-2.597 2.933-4.664 5.53-5.529 0.625-0.209 1.046-0.79 1.046-1.446 0-0.657-0.421-1.238-1.046-1.447z"/>
								<path d="m52.274 18.689c-3.232-1.076-5.805-3.649-6.882-6.881-0.224-0.674-0.849-1.126-1.556-1.126-0.706 0-1.331 0.453-1.556 1.126-1.077 3.232-3.649 5.804-6.881 6.881-0.674 0.224-1.126 0.849-1.126 1.556s0.453 1.331 1.126 1.556c3.232 1.077 5.805 3.65 6.881 6.882 0.224 0.674 0.849 1.126 1.556 1.126 0.706 0 1.331-0.453 1.556-1.126 1.077-3.232 3.649-5.805 6.881-6.882 0.674-0.224 1.127-0.849 1.127-1.556s-0.453-1.332-1.126-1.556z"/>
							</g>
						</svg>
					</button>
				</div>
				<div class="nav_name"><a href="{% url 'home:home' %}">Yulian Tolkachov</a></div>
				<nav>
					<ul>
						<li><a href="{% url 'home:home' %}">Home</a></li>

						{% for section in sections_list %}
						<li><a href="{% url 'home:home' %}#{{section.slug}}">{{section.title}}</a></li>
						{% endfor %}

					</ul>
				</nav>

				<ul class="nav_social">
					{% for social in socials_list %}
					<li><a href="{{social.url}}" target="_blank">{{social.icon}}</a></li>
					{% endfor %}
				</ul>

			</div>
		</header>
		{% endblock %}
		<main>
			{% block main %}
			<section class="section home" id="home">
				<div class="wrap home_wrap">
					<h1>Hello, <br>I'm <span>Yulian Tolkachov</span></h1>
					<picture alt="{{ main.alt_text }}">
						<source srcset="{{ main.photo.url }}" media="(min-width:800px)">
						<img src="{{ main.photo_minified.url }}" {% if not forloop.first %} loading="lazy" {% endif %} alt="{{ main.alt_text }}">
					</picture>
					<a class="home_link">	
						<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.71178 17.2976L24.7944 35.5602L41.877 17.2976" stroke="#F44647" stroke-width="8"/>
						</svg>
					</a>
				</div>
			</section>

			<section class="section services" id="{{ sections.services.slug }}">
				<div class="wrap services_wrap">
					<div class="services_content section_content">
						<h2>{{ sections.services.title }}</h2>
						<div class="section_description">
							{{ sections.services.subtitle }}
						</div>
						<div class="section_content">
							{{ sections.services.text|safe }}
						</div>
					</div>
					<ul class="services_cv section_content_slide-right parallax left">
						<li><a href="{{main.cv.url}}" download>Download CV</a></li>
						<li><a href="{{main.portfolio_link}}" target="_blank">My Portfolio</a></li>
					</ul>
					<ul class="services_cv services_cv_mobile">
						<li><a href="{{main.cv.url}}" download>Download CV</a></li>
						<li><a href="{{main.portfolio_link}}" target="_blank">My Portfolio</a></li>
					</ul>

					<div class="services_grid">
						{% for service in services_list %}
						<div class="services_grid_item">
							<picture alt="{{ service.alt_text }}">
								<source srcset="{{ service.photo.url }}" media="(min-width:800px)">
								<img src="{{ service.photo_minified.url }}" {% if not forloop.first %} loading="lazy" {% endif %} alt="{{ service.alt_text }}">
							</picture>
							<h4>{{service.title}}</h4>
							<p>{{service.subtitle}}</p>
						</div>
						{% endfor %}
					</div>

				</div>
			</section>

			<section class="section about" id="{{ sections.about.slug }}">
				<div class="wrap about_wrap">
					<h2>{{ sections.about.title }}</h2>
					<div class="section_description">
						{{ sections.about.subtitle }}
					</div>
					<div class="section_content">
						<picture alt="{{ main.alt_banner_text }}">
							<source srcset="{{ main.banner.url }}" media="(min-width:800px)">
							<img class="section_content_slide parallax_right right" src="{{ main.banner_minified.url }}" {% if not forloop.first %} loading="lazy" {% endif %} alt="{{ main.alt_banner_text }}">
						</picture>
						<picture alt="{{ main.alt_banner_text }}">
							<source srcset="{{ main.banner.url }}" media="(min-width:800px)">
							<img class="section_content_image_mobile" src="{{ main.banner_minified.url }}" {% if not forloop.first %} loading="lazy" {% endif %} alt="{{ main.alt_banner_text }}">
						</picture>
						<div class="about_contacts parallax_top">
							<ul>
								<li>
									<h6>Email</h6>
									<a href="mailto:{{main.email}}">{{main.email}}</a>
								</li>
								<li>
									<h6>Role</h6>
									<a href="#{{ sections.contact.slug }}">{{main.role}}</a>
								</li>
								<li>
									<h6>Phone</h6>
									<a href="tel:{{main.phone}}">{{main.phone}}</a>
								</li>
							</ul>
						</div>
						<div class="about_text">
							{{ sections.about.text|safe }}
							<div class="about_signature">
								<img src="{{main.signature.url}}" alt="My signature">
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section portfolio" id="{{ sections.portfolio.slug }}">
				<div class="wrap about_wrap">
					<div class="portfolio_content section_content">
						<h2>{{ sections.portfolio.title }}</h2>
						<div class="section_description">
							{{ sections.portfolio.subtitle }}
						</div>
						<div class="portfolio_grid">

							{% for work in works %}
							<div class="portfolio_grid_block">
								<a href="{{ work.get_absolute_url }}" class="portfolio_grid_caption">
									<p class="portfolio_title">{{ work.title }}</p>
									<p>{{ work.subtitle }}</p>
								</a>
								<div class="portfolio_grid_img">
									<picture alt="{{ work.alt_text }}">
										<source srcset="{{ work.photo.url }}" media="(min-width:800px)">
										<img src="{{ work.photo_minified.url }}" {% if not forloop.first %} loading="lazy" {% endif %} alt="{{ work.alt_text }}">
									</picture>
								</div>
							</div>
							{% endfor %}

						</div>

					</div>
				</div>
			</section>

			<section class="section blog" id="{{ sections.blog.slug }}">
				<div class="wrap about_wrap">
					<div class="blog_content section_content">
						<h2>{{ sections.blog.title }}</h2>
						<div class="section_description">
							{{ sections.blog.subtitle }}
						</div>
						<ul>
							{% for article in blogs %}
							<li class="blog_element">
								<a href="{{ article.get_absolute_url }}" class="blog_title">{{ article.title }}</a>
								<div class="blog_info"><span>{{ article.date }}</span><span>{{ article.category }}</span></div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</section>

			<section class="section skills" id="{{ sections.skills.slug }}">
				<div class="wrap about_wrap">
					<div class="skills_content section_content">
						<h2>{{ sections.skills.title }}</h2>
						<div class="section_description">
							{{ sections.skills.subtitle }}
						</div>
						{{ sections.skills.text|safe }}

						<ul class="skills_group">
							{% for year in years_list %}
							<li>
								<span class="skills_date">{{year.year}}</span>
								<p class="skills_text">{{year.content|safe}}</p>
							</li>
							{% endfor %}
						</ul>

						<ul class="skills_progress">
							{% for skill in skills_list %}
							<li>
								<span class="skills_name">{{skill.title}}</span>
								<div class="skill_fill">
									<div class="skill_fill_progress" data-fill="{{skill.percentage}}%" style="width: {{skill.percentage}}%;"></div>
								</div>
							</li>
							{% endfor %}
						</ul>

					</div>
				</div>
			</section>

			<section class="section contact" id="{{ sections.contact.slug }}">
				<div class="wrap about_wrap">
					<div class="contact_content section_content">
						<h2>{{ sections.contact.title }}</h2>
						<div class="section_description">
							{{ sections.contact.subtitle }}
						</div>
						{{ sections.contact.text|safe }}
						{% if messages %}
						<div class="message">
						    {% for message in messages %}
						    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
						    {% endfor %}
						</div>
						{% endif %}
						<form method="POST">
							{% csrf_token %}
							{{ form.name }}
							{{ form.email }}
							{{ form.subject }}
							{{ form.content }}
							<!-- <input id="name" type="text" name="name" placeholder="NAME">
							<input id="contact-email" type="email" name="email" placeholder="EMAIL">
							<input id="subject" type="text" name="subject" placeholder="SUBJECT">
							<textarea id="message" name="message" placeholder="MESSAGE"></textarea> -->
							<input type="submit" value="SEND">
						</form>
						
					</div>
				</div>
			</section>
			{% endblock %}
		</main>
	</div>

{% block scripts %}
<script>
	document.addEventListener("DOMContentLoaded", function() {
		const headerOpener = document.getElementById("header_opener");
		const header = document.getElementById("header");
		const clickableElements = document.querySelectorAll("nav a, .nav_name a");

		headerOpener.addEventListener("click", function() {
			toggleHeader();
		});

		Array.from(clickableElements).forEach(element => {
			element.addEventListener("click", function() {
				if(window.innerWidth <= 750) {
					closeHeader();
				}
			});
		});

		function toggleHeader() {
			headerOpener.classList.toggle("opened");
			header.classList.toggle("opened");
		}
		function closeHeader() {
			headerOpener.classList.remove("opened");
			header.classList.remove("opened");
		}
	});
</script>
<script>
	const parallax = document.querySelectorAll(".parallax");
	const speed = 0.2;
	const offset = 1000;
	window.addEventListener("scroll", function() {
		const y = window.pageYOffset;
		parallax.forEach(function(el) {
			const limit = el.classList.contains("left") ? offset : window.innerHeight - offset;
			if (y > el.offsetTop - window.innerHeight && y < el.offsetTop + el.offsetHeight) {
				const targetX = (y - el.offsetTop + limit) * speed;
				const diffX = targetX - el.offsetLeft;
				el.style.transform = `translateY(-50%) translateX(${Math.min(Math.max(diffX, -400), 400)}px)`;
			}
		});
	});

	const parallax_right = document.querySelectorAll(".parallax_right");
	const speed_right = 0.2;
	const offset_right = -300;
	window.addEventListener("scroll", function() {
		const y = window.pageYOffset;
		parallax_right.forEach(function(el) {
			const limit = el.classList.contains("left") ? offset_right : window.innerHeight - offset_right;
			if (y > el.offsetTop - window.innerHeight && y < el.offsetTop + el.offsetHeight) {
				const targetX = (y - el.offsetTop + limit) * speed_right;
				const diffX = targetX - el.offsetLeft;
				el.style.transform = `translateX(${Math.min(-Math.max(diffX, -400), 400)}px)`;
			}
		});
	});

	const parallax_top = document.querySelectorAll(".parallax_top");
	const speed_top = 0.2;
	const offset_top = -2900;
	window.addEventListener("scroll", function() {
		const y = window.pageYOffset;
		parallax_top.forEach(function(el) {
			const limit = el.classList.contains("left") ? offset_top : window.innerHeight - offset_top;
			if (y > el.offsetTop - window.innerHeight && y < el.offsetTop + el.offsetHeight) {
				const targetX = (y - el.offsetTop + limit) * speed_top;
				const diffX = targetX - el.offsetLeft;
				el.style.transform = `translateY(${Math.min(Math.max(diffX, -400), -10)}px)`;
			}
		});
	});
</script>
<script>
	const navLinks = document.querySelectorAll('nav a');
	const sections = document.querySelectorAll('section');

	function changeLinkState() {
		let index = sections.length;

		while(--index && window.scrollY + 50 < sections[index].offsetTop) {}

			navLinks.forEach((link) => link.classList.remove('active'));
		navLinks[index].classList.add('active');
	}

	changeLinkState();
	window.addEventListener('scroll', changeLinkState);

</script>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		const sections = document.querySelectorAll('section');
		const navLinks = document.querySelectorAll('nav a');
		const navPageNumber = document.querySelector('.nav_page > span:first-child');

		function changeLinkState() {
			let index = sections.length;

			while (--index && window.scrollY + 50 < sections[index].offsetTop) {}
			navLinks.forEach((link) => link.classList.remove('active'));
			navLinks[index].classList.add('active');
			navPageNumber.textContent = String(index + 1).padStart(2, '0');
		}

		changeLinkState();
		window.addEventListener('scroll', changeLinkState);
	});
</script>
{% endblock %}
<script>
	document.addEventListener("DOMContentLoaded", () => {
		const themeSwitch = document.getElementById("theme_switch");

		const darkThemeStyles = `
			:root {
				--white: #f9f9f9;
				--black: #f5f5f5;
				--blue: #3b3b91;
				--blue-lightest: #3f3f75;
				--blue-lighter: #252553;
				--blue-darker: #1b1b4d;
				--blue-darkest: #0d0d2a;
				--accent: #ffb900;
				--accent-muted: #e6ac00;
				--blue-deep: #050517;
			}
			body {
				color: var(--white);
				background: linear-gradient(
					to right,
					var(--blue-darker) -15%,
					var(--blue-darkest) 12%,
					var(--blue-deep) 60%
				);
			}
			a {
				color: var(--accent);
			}
			h1, h2, h3, h4, h5, h6 {
				color: var(--white);
			}
			h1 > span {
				background-image: linear-gradient(var(--accent-muted), var(--accent-muted));
			}
			@media (max-width: 1199px){
				header{
					background: linear-gradient(
						to right,
						var(--blue-darker) -15%,
						var(--blue-darkest) 12%,
						var(--blue-deep) 60%
					);
				}
				#theme_switch{
					margin-left: 80px;
				}
			}
			.header_opener{
				background-color: var(--white);
			}
			#theme_switch svg:first-child {
				display: none;
			}
			#theme_switch svg:last-child {
				display: block;
			}
			.nav_page svg {
				fill: var(--white) !important;
			}
			.nav_page>span:first-of-type{
				color: var(--blue-light);
			}
			nav a, .nav_name a, .nav_social a {
				color: var(--white);
			}
			a:hover {
				color: var(--accent);
			}
			.active {
				color: var(--accent);
			}
			nav a.active {
				color: var(--blue-light) !important;
			}
			.services_cv {
				background-color: var(--blue-lighter);
			}
			.skill_fill_progress {
				background-color: var(--blue-light);
			}
			form input, form textarea {
				color: var(--white) !important;
			}
			.blog_info svg circle, .blog_info svg path{
				stroke: var(--white);
			}
		`;

		// Зміна теми на кнопку
		function toggleTheme() {
			const darkTheme = document.getElementById("dark-theme-style");

			if (darkTheme) {
				darkTheme.remove();
				localStorage.setItem("theme", "light");
			} else {
				const styleElement = document.createElement("style");
				styleElement.id = "dark-theme-style";
				styleElement.textContent = darkThemeStyles;
				document.head.appendChild(styleElement);
				localStorage.setItem("theme", "dark");
			}
		}
		themeSwitch.addEventListener("click", toggleTheme);

		// Тема при завантажені сторінки
		const checkIsDarkSchemePreferred = () => window?.matchMedia?.('(prefers-color-scheme:dark)')?.matches ?? false;
		if (checkIsDarkSchemePreferred()) {
			const styleElement = document.createElement("style");
			styleElement.id = "dark-theme-style";
			styleElement.textContent = darkThemeStyles;
			document.head.appendChild(styleElement);
			localStorage.setItem("theme", "dark");
		}

		// Зміна теми якщо міняється тема браузера та НЕ перезавантажується сторінка
		window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
		    const newColorScheme = event.matches ? "dark" : "light";
		    const darkTheme = document.getElementById("dark-theme-style");
		    if (newColorScheme === "dark"){
		    	const styleElement = document.createElement("style");
				styleElement.id = "dark-theme-style";
				styleElement.textContent = darkThemeStyles;
				document.head.appendChild(styleElement);
				localStorage.setItem("theme", "dark");
		    } else if (darkTheme){
		    	darkTheme.remove();
				localStorage.setItem("theme", "light");
		    }
		});
	});
</script>
</body>
</html>