:root {
	--white: #fff;
	--black: #000;
	--blue: #3b3b91;

	 /* Lighter shades */
	--blue-lightest: #e6e6f2;
	--blue-lighter: #c1c1d9;
	--blue-light: #9b9bc0;

	/* Darker shades */
	--blue-darker: #282875;
	--blue-darkest: #1b1b4d;
	--accent: #ffb900; /* Optional accent color */
	--blue-deep: #0a0a33;

	--bs-gutter-x: 1.5rem;
}

main{
	margin-bottom: 85px;
}
.blog_title:hover{
	color: var(--black);
}
.blog_info{
	flex-direction: row;
	gap: 25px;
}
.blog_blog{
	margin-top: 30px;
}
.footer.nav_social{
	font-weight: bold;
	position: inherit;
	margin-top: 60px;
}