:root {
	--white: #fff;
	--black: #000;
	--blue: #3b3b91;
		 /* Lighter shades */
	--blue-lightest: #e6e6f2;
	--blue-lighter: #c1c1d9;
	--blue-light: #9b9bc0;
		/* Darker shades */
	--blue-darker: #282875;
	--blue-darkest: #1b1b4d;
	--accent: #ffb900; /* Optional accent color */
	--blue-deep: #0a0a33;
		--bs-gutter-x: 1.5rem;
}
main{
	margin-bottom: 85px;
}
.blog_title:hover{
	color: var(--black);
}
.blog_info{
	flex-direction: row;
	gap: 25px;
}
.blog_blog{
	margin-top: 30px;
}
.footer.nav_social{
	font-weight: bold;
	position: inherit;
	margin-top: 60px;
}
img{
	max-width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.blog_content li:not(:first-child) {
    border-top: none;
}
.ism-slider{
	margin-top: 60px;
}


.ism-slider>ol,
.ism-slider>ol>li,
.ism-slider>ol>li>img {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	object-fit: cover;
}
.ism-slider {
	overflow: hidden;
	position: relative;
	padding: 0 !important;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-animation: ism-fadein 3s;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
@-webkit-keyframes ism-fadein {
	from {
		opacity: 0;
	}
		to {
		opacity: 1;
	}
}
@-webkit-keyframes ism-loading {
	50% {
		left: 120px;
	}
}
.ism-slider .ism-slides {
	list-style: none;
	position: absolute;
	height: 100%;
	top: 0;
	padding: 0 !important;
	margin-top: 0;
	margin-bottom: 0;
	z-index: 1;
}
.ism-slider li.ism-slide {
	height: 100%;
	overflow: hidden;
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	margin: 0 !important;
	padding: 0 !important;
	background-color: var(--blue-darker);
	text-align: center;
}


.ism-radios {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #fff;
	font-size: 1px;
}
.ism-slider .ism-radios {
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 6;
	bottom: 5px;
	left: 0;
	right: 0;
	width: auto;
	background-color: rgba(255, 255, 255, 0.0);
	padding: 0 7px;
	height: 0;
	overflow: visible;
}

.ism-radios li {
	position: relative;
	display: inline-block;
	margin: 0 3px;
	padding: 0;
}
.ism-radios input.ism-radio {
	display: none;
}
.ism-radios label {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
		100% {
		opacity: 1;
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
		100% {
		opacity: 1;
	}
}


/* SLIDER */
#my-slider {
	width: 100%;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
#my-slider:before {
	content: '';
	display: block;
	padding-top: 79.3%; /* Висота каруселі */
}

#my-slider .ism-radios {
	display: block;
	height: 20px;
	text-align: right;
}
#my-slider .ism-radios label {
	width: 20px;
	height: 20px;
	border-radius: 3px;
	color: #000;
	background-color: rgba(0, 0, 0, 0.2);
	border: 2px solid rgba(255, 255, 255, 0.7);
}
#my-slider .ism-radios li.active label {
	background-color: rgba(255, 255, 255, 1.0);
}
#my-slider .ism-radios label:hover {
	border: 2px solid rgba(255, 255, 255, 1.0);
}